{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}
{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome To Gadgetrics</h1>
        <p>Welcome to the gadgetrics Blog. We deal in electronics as well as offer technical information about Coding , robotics . We aspire to create a community of passionate techies here.</p>
        <p>Go visit us at our <a href="https://www.facebook.com/techOnYourFingertips">Facebook Page</a></p>
        <p>
        <a class="btn btn-primary" href="https://www.facebook.com/techOnYourFingertips" role="button">Facebook &raquo;</a>
        <a class="btn btn-danger" href="/posts/" role="button">Blogs &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}